body {
    margin: 0;
    background-color: rgb(32, 32, 32);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'vermelho verde'
    'azul amarelo';
    grid-gap: 10px;
    border: 10px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.red {
    grid-area: vermelho;
    background-color: rgb(189, 0, 0);
    border-top-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: rgb(0, 146, 0);
    border-top-right-radius: 100%;
}

.blue {
    grid-area: azul;
    background-color: rgb(0, 0, 187);
    border-bottom-left-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: rgb(255, 208, 0);
    border-bottom-right-radius: 100%;
}


.selected {
    opacity: 0.8;
}

.selected{
    opacity: 0,6;
}